[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
colorama = "*"
shellingham = "*"
pytest = "*"
requests = "*"
python-json-logger = "*"
pydantic = "*"
multiprocess = "*"
backoff = "*"
pymongo = "*"
aiofiles = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3"
